@keyframes mainOpacity {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes colorChange {
	from {
		stroke: #00d09d;
	}
	to {
		stroke: #021e40;
	}
}

@keyframes op {
    from {
        visibility: hidden;
    }
    to {
        visibility: visible;
    }
}
@keyframes str {
    from {
        stroke-dasharray: 1 100;
    }
    to {
        stroke-dasharray: 100 0;
    }
}
@keyframes bg {
	from {
		fill: rgba(0, 208, 157, 0);
	}
	to {
		fill: rgba(0, 208, 157, 1);
	}
}

body {
	height: 100vh;
  padding: 0;
	/*background-color: #021f41;*/
}

.logo {
	position: relative;
	width: 61%;
	padding-bottom: 61%;
	margin-top: 80px;
}

.logo > div {
	position: absolute;
	min-width: 200px;
	min-height: 200px;
	max-width: 600px;
	max-height: 600px;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.main-letters {
	position: absolute;
	top:0;
	left: 0;
}

.main-letters ul li{
	/*animation: mainOpacity 1s forwards;*/
}


.letter{
  margin: 0;
  padding: 0;
  width: 45%;
  height: 45%;
  position: relative;
}
.letter li {
  position: absolute;
  list-style: none;
  width: 100%;
  height: 100%;

}
.letters-tail > ul li svg,
.letter li svg {
  width: 100%;
  height: 100%;
  display: block;
}
.letter li path{
  fill: none;
  stroke: #00D09D;
  stroke-miterlimit: 10;
  animation: str 0.7s forwards cubic-bezier(1.000, 0.010, 0.490, 1.000), bg 1s 0.7s forwards cubic-bezier(1.000, 0.010, 0.490, 1.000);
}

.letter:nth-child(2){transform: translate(32%, 0);}
.letter:nth-child(3){transform: translate(37%, 28.5%);}
.letter:nth-child(4){transform: translate(52.5%, 28.5%);}

.letters-tail {}
.letters-tail > ul {
	margin: 0;
	padding: 0;

	width: 45%;
  height: 45%;
  position: relative;

	-webkit-perspective: 600;
	perspective-origin: 50% 50%;
	transform-style: preserve-3d;
	transition: all 0.2s;
}

.letters-tail > ul li{
	position: absolute;
	list-style: none;
	width: 100%;
	height: 100%;
}

.letters-tail > ul li path {
	fill: none;
	stroke: #00D09D;
	stroke-miterlimit: 10;
}

.letters-tail > ul:nth-child(1){
	perspective-origin: 100% 100%;
}

.letters-tail > ul:nth-child(2){
	perspective-origin: 32% 100%;		
	transform: translate(32%, 0);
}

.letters-tail > ul:nth-child(3){
	perspective-origin: 63% 0%;	
	transform: translate(37%, 28.5%);
}

.letters-tail > ul:nth-child(4){
	perspective-origin: -52.5% 0%;	
	transform: translate(52.5%, 28.5%);
}




.letters-tail li {
	visibility: hidden;
}

.letters-tail li path {
	animation: colorChange 1s linear;
	animation-play-state: paused;
}
.letters-tail > ul li:nth-child(1){
  transform: translateZ(-0px) rotate(0deg);
  animation: op 2s 1.7s forwards;
}
.letters-tail > ul li:nth-child(1) path{
  animation-delay: 0s
}


.letters-tail > ul li:nth-child(2){
  transform: translateZ(-10px) rotate(-0.1deg);
  animation: op 2s 1.7666666666666666s forwards;
}
.letters-tail > ul li:nth-child(2) path{
  animation-delay: -0.03333333333333333s
}


.letters-tail > ul li:nth-child(3){
  transform: translateZ(-20px) rotate(-0.2deg);
  animation: op 2s 1.8333333333333333s forwards;
}
.letters-tail > ul li:nth-child(3) path{
  animation-delay: -0.06666666666666667s
}


.letters-tail > ul li:nth-child(4){
  transform: translateZ(-30px) rotate(-0.30000000000000004deg);
  animation: op 2s 1.9s forwards;
}
.letters-tail > ul li:nth-child(4) path{
  animation-delay: -0.1s
}


.letters-tail > ul li:nth-child(5){
  transform: translateZ(-40px) rotate(-0.4deg);
  animation: op 2s 1.9666666666666666s forwards;
}
.letters-tail > ul li:nth-child(5) path{
  animation-delay: -0.13333333333333333s
}


.letters-tail > ul li:nth-child(6){
  transform: translateZ(-50px) rotate(-0.5deg);
  animation: op 2s 2.033333333333333s forwards;
}
.letters-tail > ul li:nth-child(6) path{
  animation-delay: -0.16666666666666666s
}


.letters-tail > ul li:nth-child(7){
  transform: translateZ(-60px) rotate(-0.6000000000000001deg);
  animation: op 2s 2.1s forwards;
}
.letters-tail > ul li:nth-child(7) path{
  animation-delay: -0.2s
}


.letters-tail > ul li:nth-child(8){
  transform: translateZ(-70px) rotate(-0.7000000000000001deg);
  animation: op 2s 2.1666666666666665s forwards;
}
.letters-tail > ul li:nth-child(8) path{
  animation-delay: -0.23333333333333334s
}


.letters-tail > ul li:nth-child(9){
  transform: translateZ(-80px) rotate(-0.8deg);
  animation: op 2s 2.2333333333333334s forwards;
}
.letters-tail > ul li:nth-child(9) path{
  animation-delay: -0.26666666666666666s
}


.letters-tail > ul li:nth-child(10){
  transform: translateZ(-90px) rotate(-0.9deg);
  animation: op 2s 2.3s forwards;
}
.letters-tail > ul li:nth-child(10) path{
  animation-delay: -0.3s
}


.letters-tail > ul li:nth-child(11){
  transform: translateZ(-100px) rotate(-1deg);
  animation: op 2s 2.3666666666666667s forwards;
}
.letters-tail > ul li:nth-child(11) path{
  animation-delay: -0.3333333333333333s
}


.letters-tail > ul li:nth-child(12){
  transform: translateZ(-110px) rotate(-1.1deg);
  animation: op 2s 2.433333333333333s forwards;
}
.letters-tail > ul li:nth-child(12) path{
  animation-delay: -0.36666666666666664s
}


.letters-tail > ul li:nth-child(13){
  transform: translateZ(-120px) rotate(-1.2000000000000002deg);
  animation: op 2s 2.5s forwards;
}
.letters-tail > ul li:nth-child(13) path{
  animation-delay: -0.4s
}


.letters-tail > ul li:nth-child(14){
  transform: translateZ(-130px) rotate(-1.3deg);
  animation: op 2s 2.5666666666666664s forwards;
}
.letters-tail > ul li:nth-child(14) path{
  animation-delay: -0.43333333333333335s
}


.letters-tail > ul li:nth-child(15){
  transform: translateZ(-140px) rotate(-1.4000000000000001deg);
  animation: op 2s 2.6333333333333333s forwards;
}
.letters-tail > ul li:nth-child(15) path{
  animation-delay: -0.4666666666666667s
}


.letters-tail > ul li:nth-child(16){
  transform: translateZ(-150px) rotate(-1.5deg);
  animation: op 2s 2.7s forwards;
}
.letters-tail > ul li:nth-child(16) path{
  animation-delay: -0.5s
}


.letters-tail > ul li:nth-child(17){
  transform: translateZ(-160px) rotate(-1.6deg);
  animation: op 2s 2.7666666666666666s forwards;
}
.letters-tail > ul li:nth-child(17) path{
  animation-delay: -0.5333333333333333s
}


.letters-tail > ul li:nth-child(18){
  transform: translateZ(-170px) rotate(-1.7000000000000002deg);
  animation: op 2s 2.833333333333333s forwards;
}
.letters-tail > ul li:nth-child(18) path{
  animation-delay: -0.5666666666666667s
}


.letters-tail > ul li:nth-child(19){
  transform: translateZ(-180px) rotate(-1.8deg);
  animation: op 2s 2.9s forwards;
}
.letters-tail > ul li:nth-child(19) path{
  animation-delay: -0.6s
}


.letters-tail > ul li:nth-child(20){
  transform: translateZ(-190px) rotate(-1.9000000000000001deg);
  animation: op 2s 2.966666666666667s forwards;
}
.letters-tail > ul li:nth-child(20) path{
  animation-delay: -0.6333333333333333s
}


.letters-tail > ul li:nth-child(21){
  transform: translateZ(-200px) rotate(-2deg);
  animation: op 2s 3.033333333333333s forwards;
}
.letters-tail > ul li:nth-child(21) path{
  animation-delay: -0.6666666666666666s
}


.letters-tail > ul li:nth-child(22){
  transform: translateZ(-210px) rotate(-2.1deg);
  animation: op 2s 3.0999999999999996s forwards;
}
.letters-tail > ul li:nth-child(22) path{
  animation-delay: -0.7s
}


.letters-tail > ul li:nth-child(23){
  transform: translateZ(-220px) rotate(-2.2deg);
  animation: op 2s 3.1666666666666665s forwards;
}
.letters-tail > ul li:nth-child(23) path{
  animation-delay: -0.7333333333333333s
}


.letters-tail > ul li:nth-child(24){
  transform: translateZ(-230px) rotate(-2.3000000000000003deg);
  animation: op 2s 3.2333333333333334s forwards;
}
.letters-tail > ul li:nth-child(24) path{
  animation-delay: -0.7666666666666667s
}


.letters-tail > ul li:nth-child(25){
  transform: translateZ(-240px) rotate(-2.4000000000000004deg);
  animation: op 2s 3.3s forwards;
}
.letters-tail > ul li:nth-child(25) path{
  animation-delay: -0.8s
}


.letters-tail > ul li:nth-child(26){
  transform: translateZ(-250px) rotate(-2.5deg);
  animation: op 2s 3.3666666666666667s forwards;
}
.letters-tail > ul li:nth-child(26) path{
  animation-delay: -0.8333333333333334s
}


.letters-tail > ul li:nth-child(27){
  transform: translateZ(-260px) rotate(-2.6deg);
  animation: op 2s 3.4333333333333336s forwards;
}
.letters-tail > ul li:nth-child(27) path{
  animation-delay: -0.8666666666666667s
}


.letters-tail > ul li:nth-child(28){
  transform: translateZ(-270px) rotate(-2.7deg);
  animation: op 2s 3.5s forwards;
}
.letters-tail > ul li:nth-child(28) path{
  animation-delay: -0.9s
}


.letters-tail > ul li:nth-child(29){
  transform: translateZ(-280px) rotate(-2.8000000000000003deg);
  animation: op 2s 3.5666666666666664s forwards;
}
.letters-tail > ul li:nth-child(29) path{
  animation-delay: -0.9333333333333333s
}


.letters-tail > ul li:nth-child(30){
  transform: translateZ(-290px) rotate(-2.9000000000000004deg);
  animation: op 2s 3.6333333333333333s forwards;
}
.letters-tail > ul li:nth-child(30) path{
  animation-delay: -0.9666666666666667s
}
