.yglf-description {
  position: relative;
  margin-bottom: $article-gutter-bottom;

  img {
    width: 100%;
  }

  p {
    position: absolute;
    bottom: 8vh;
    right: 0;
    max-width: 600px;
    width: 50%;
    padding: 4vh 5vh;
    background-color: $color-blue;
    font-family: libre-baskerville;
    line-height: 32px;
    letter-spacing: 2px;
    font-style: italic;

  }
}

.yglf-timeline {

  article {
    margin: $article-gutter-top 0 $article-gutter-bottom;
    display: table;
    width: 100%;

    &.the-team {
      margin: 50px 0;
    }

    a {
      color: $color-green;
    }
    
    .link {
      font-size: 12px;
      
      &:hover {
        text-decoration: none;
        color: $color-white;
      }
    }
    
  }

  p {
    column-count: 2;
    column-gap: 40px;
    line-height: 27px;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 1px;
    text-align: left;
  }
  
  p.one-column {
    column-count: 1;
  }

  h3 {
    letter-spacing: 2px;
    font-size: 26px;
    margin-top: 0;
  }

  .team-gallery {
    text-align: center;
    padding: 0;
    margin-top: 50px;
  }

}

.team-member {
  position: relative;
  display: inline-block;
  margin-bottom: 30px;

  img {
    box-shadow: 0 13px 42px 0 rgba(0, 0, 0, .3);
    width: 100%;
  }

  .member-info {
    position: absolute;
    max-width: 0;
    top: 0;
    left: 0;
    transition: max-width .5s cubic-bezier(.215, .61, .355, 1);
    height: 100%;
    width: 100%;
    background-color: rgba($color-blue, .9);
    overflow: hidden;

    .name,
    a,
    hr {
      position: absolute;
      left: 20px;
      opacity: 0;
      text-align: left;
      transition: opacity 1ms cubic-bezier(.215, .61, .355, 1);
    }

    .name {
      font-size: 16px;
      font-weight: 400;
      line-height: 23px;
      bottom: 40px;
    }

    hr {
      width: 20px;
      bottom: 16px;
    }

    a {
      bottom: 20px;
      color: $color-green;
      font-family: $font-libre;
      font-style: italic;
      font-size: 12px;
      letter-spacing: 2px;
    }
  }
}

@media (min-width: $screen-md-min) {
  .team-member {
    &:hover {
      .member-info {
        max-width: 100%;

        .name,
        a,
        hr {
          opacity: 1;
          left: 20px;
        }
      }
    }
  }
}

@media (max-width: $screen-lg-min) {
  .team-member {

    .member-info {
      position: relative;
      max-width: 100%;
      overflow: auto;
      height: 100px;
      display: block;

      .name,
      a,
      hr {
        left: 0;
        opacity: 1;
      }
    }

  }
}

@media (max-width: $screen-md-min) {
  .yglf-description {
    p {
      position: relative;
      top: 0;
      width: 100%;
      padding: 0;
      line-height: 24px;
      margin-top: 10px;
    }
  }

  .yglf-timeline {
    margin-top: 50px;

    article {
      margin: 50px 0;
    }

    p {
      column-count: 1;
    }
  }
}

@media (max-width: $screen-sm-min) {
  .team-member {
    width: 90%;

    .member-info {
      a {
        bottom: 10px;
      }
    }
  }
}

@media (max-width: $screen-xs-min) {
}
