.yglf-description {
  position: relative;

  img {
    width: 100%;
  }

  p {
    position: absolute;
    top: 35vh;
    right: 0;
    max-width: 600px;
    width: 50%;
    padding: 80px 60px;
    background-color: $color-blue;
    font-family: libre-baskerville;
    line-height: 32px;
    letter-spacing: 2px;
    font-style: italic;

  }
}

.yglf-timeline {
  margin-top: 100px;

  article {
    margin: 50px 0 150px;
    display: table;

    a {
      color: $color-green;
    }
  }

  p {
    column-count: 2;
    column-gap: 40px;
    line-height: 27px;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 1px;

  }

  h3 {
    letter-spacing: 2px;
    font-size: 24px;
  }

  .team-gallery {
    margin-top: 50px;
    text-align: center;
    padding: 0;
  }

}

.team-member {
  position: relative;
  display: inline-block;
  margin-bottom: 30px;

  img {
    box-shadow: 0 13px 42px 0 rgba(0, 0, 0, .3);
    width: 100%;
  }

  .member-info {
    position: absolute;
    max-width: 0;
    top: 0;
    left: 0;
    transition: max-width .9s ease-out;
    height: 100%;
    width: 100%;
    background-color: rgba($color-blue, .95);
    overflow: hidden;

    .name,
    a,
    hr {
      position: absolute;
      left: 20px;
      opacity: 0;
      text-align: left;
      transition: opacity 1ms cubic-bezier(.215,.61,.355,1);
    }

    .name {
      font-size: 18px;
      font-weight: 400;
      line-height: 25px;
    }

    hr {
      width: 20px;
      bottom: 16px;
    }

    a {
      bottom: 20px;
      color: $color-green;
      font-family: $font-libre;
      font-style: italic;
      font-size: 12px;
      letter-spacing: 2px;
    }
  }

  &:hover {
    .member-info {
      max-width: 100%;

      .name,
      a,
      hr {
        opacity: 1;
        left: 20px;
      }
    }
  }

}
