.cfs-badge {
  position: fixed;
  width: 253px;
  top: 51px;
  right: -53px;
  height: 45px;
  background-color: #01ac8a;
  z-index: 1000;
  margin: 0 auto;
  transform: rotate(45deg);
  text-align: center;
  opacity: 0.9;
  
  a {
    color: #051931;
    line-height: 44px;
  }
}