
.full-btn,
.btn,
.transparent-btn {
  background-color: transparent;
  position: relative;
  cursor: pointer;
  padding: 1px 15px 0px 23px;
  white-space: nowrap;

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 0;
    content: ' ';
    height: 100%;
    @include transition-prefix(max-width .3s ease-out);
  }
}

.full-btn {
  color: $color-grey;

  &:after {
    background-color: $color-grey;
    z-index: -1;
  }

  &:hover {
    color: $color-blue;

    &:after {
      padding: 0px 35px;
    }
  }
}

.btn {
  color: $color-grey;
  overflow: hidden;

  &:after,
  &:before {
    background-color: $color-light-grey;
    max-width: 100%;
    color: $color-blue;
    z-index: 1;
    overflow: hidden;
    padding: 1px 15px 0px 23px;
    opacity: 1;
    @include transition-prefix(max-width .3s ease-out);
    position: absolute;
    top: 0;
    left: 0;
  }

  span {
    z-index: 3;
    position: inherit;
    color: $color-blue;
  }

  &:after {
    background-color: $color-green;
    max-width: 0;
    padding: 0;
    @include transition-prefix(padding .3s ease-out);
  }
  &:hover {
    &:after {
      padding: 100%;
    }
  }
}

.transparent-btn {

  &:after {
    background-color: transparent;
    color: $color-grey;
    z-index: 1;
    overflow: hidden;
    margin-left: 25px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 100;
    letter-spacing: 2px;
  }

  &:hover {
    &:after {
      max-width: 100%;
    }
  }
}

.text-btn {
  color: $color-grey;
  position: relative;
  white-space: nowrap;

  &:after {
    background-color: transparent;
    max-width: 0;
    color: $color-green;
    z-index: 1;
    overflow: hidden;
    opacity: 1;
    @include transition-prefix(max-width .3s ease-out);
    position: absolute;
    top: 0;
    left: 0;
  }

  &:hover {
    &:after {
      max-width: 100%;
    }
  }
}