.multiple-wrapper {
  position: relative;
  display: table;
  width: 400px;
  height: 400px;
//  background: red;
  perspective: 100px;
  perspective-origin: 50% -50%;
  transform-style: preserve-3d;

  .single-letter {
    float: left;
    width: 200px;
    height: 200px;
  }

  .item {
    position: absolute;
    pointer-events: none;
    -webkit-text-stroke: 1px $color-white;
    color: transparent;
    font-size: 200px;
  }

  @for $i from 0 through 7 {
    .stroke-#{$i} {
      transform: translateZ(0px - 2 * $i) translateX(0px + 6 * $i);
      opacity: 1/ $i;
    }
  }
}
