$top-gutter: 45px;

.footer-wrapper {
  position: fixed;
  bottom: 0;
  opacity: 1;
  z-index: -1;
  width: 100%;
  max-height: inherit;
  background-color: $color-green;
  transition: opacity .1s .4s;

  &.hide {
    max-height: 0;
    opacity: 0;
  }

  .sponsors-wrapper {
    height: 20vh;
    padding-top: 7vh;
    padding-bottom: 7vh;

    .sponsors-logos .single-sponsor {
      margin-right: 15px;
      padding-left: 0;

      img {
        width: 85px;
      }

    }
  }
}

.footer {
  padding-top: $top-gutter;
  position: relative;
  border-bottom: 1px solid rgba(1, 12, 25, 0.2);

  h4 {
    letter-spacing: 9px;
    margin-top: 0;
    margin-bottom: $top-gutter;
    font-weight: 400;
    font-size: 12px;
  }

  a {
    color: $color-blue;
    transition: all .3s;
    text-decoration: none;
    padding-left: 0;
  }

  .link,
  p {
    width: 300px;
    color: #021e40;
    font-size: 14px;
    font-weight: 300;
    line-height: 23px;
    text-align: left;
  }

  form {
    margin-top: 30px;
    flex-wrap: nowrap;
    justify-content: flex-start;
    display: flex;
    padding: 0;
    min-width: 300px;
    margin-bottom: $top-gutter;
    max-width: 430px;

    label {
      color: $color-blue;
      padding: 0;
      width: 80%;

      input.full ~ span,
      input:valid ~ span,
      input:focus ~ span {
        top: -22px;
        left: 0;
        font-size: 14px;
      }

      input:focus {
        outline: none;
      }

      span {
        position: absolute;
        top: 13px;
        transition: all .2s;
        font-size: 14px;
        font-weight: 200;
        left: 5%;
        letter-spacing: 0;
      }
    }
  }

  input {
    height: 45px;
    line-height: 45px;
    letter-spacing: 1px;

    &[type='email'] {
      color: $color-blue;
      border: 1px solid $color-blue;
      width: 100%;
      padding: 0 2%;
    }

    &[type='submit'] {
      width: 15%;
      border: 2px solid $color-blue;
      color: $color-white;
      background-color: $color-blue;
      font-size: 14px;
      line-height: 35px;
    }

  }
}

.footer {

  .col-md-4,
  .col-md-6,
  .col-md-7,
  .col-md-5,
  .col-md-12 {
    padding: 0;
  }

  &:first-child {
    hr {
      opacity: 0;
      border-color: rgba($color-blue, .2);
      margin-bottom: $top-gutter;
    }

  }
  &:last-child {
    margin-bottom: $top-gutter;
    border-bottom: none;

    .designed-by {
      color: $color-blue;
      font-weight: 200;
    }

    a {
      font-weight: 200;
      font-size: 14px;
      text-align: center;
      line-height: 0;

      &[href='//www.wix.com'] {
        font-weight: 400;
        &:after {
          content: 'Wix Studio';
          font-weight: 400;
        }
      }

      &[href='mailto:hello@yougottalovefrontend.com'] {
        &:after {
          content: 'hello@yougottalovefrontend.com';
        }
      }
    }

    .text-btn {
      &:after {
        color: $color-white;
        white-space: nowrap;
        line-height: 20px;
        text-transform: initial;
      }
    }

    .col-md-2 {
      padding-right: 0;
    }

    .footer-social-links {
      a {
        opacity: 1;
        transition: opacity .2s linear;
      }

      a {
        &:hover {
          opacity: .7;
        }
      }

      .facebook img {
        height: 16px;
      }

      .twitter img {
        height: 15px;
      }

      .linkedin img {
        height: 16px;
      }
      .youtube img {
        height: 19px;
      }
    }
  }
}

.footer-pages-nav {
  padding: 0;

  ul {
    text-align: left;

    li {
      margin: 0px auto 17px;
      a {
        &:after {
          line-height: 21px;
          color: $color-white;
          white-space: nowrap;
          font-weight: 200;
        }
      }
    }
  }
}

@media (max-width: $screen-md-min) {
  .footer {
    width: 85vw;
    padding-top: $top-gutter/2;

    &:first-child {
      hr {
        opacity: 1;
      }
    }
  }

}

@media (max-width: $screen-sm-min) {

  .footer-wrapper {
    position: absolute;
    display: block !important;
    opacity: 1 !important;
    height: 100vh;
    max-height: 100vh !important;
    width: 100vw!important;
    max-width: 100vw!important;

    &.hide {
      display: none!important;
    }
  }

  .footer {
    .col-sm-9,
    .col-md-6 {
      padding: 0;
    }

    h4 {
      margin-bottom: $top-gutter/2;
    }

    &:first-child {
      hr {
        margin-bottom: $top-gutter/2;
      }
    }

    &:last-child {
      margin-bottom: 0;
      padding-bottom: $top-gutter/2;
    }
    form {
      max-width: 100%;
      margin-bottom: $top-gutter/2;
    }

    .footer-pages-nav ul {
      margin-bottom: 10px;

      li {
        margin: 0px auto 12px;
      }
    }

    .footer-pages-nav ul li a:after,
    .link {
      font-size: 11px;
      line-height: 19px;
      font-weight: 400;
    }

    .footer-pages-nav ul li a:after {
      line-height: 16px;
    }

    .align-right {
      text-align: left;
    }

    .footer-social-links {
      padding-left: 0;
    }

    &:last-child {
      div {
        margin-bottom: 7px;
      }
    }
  }
}
