footer {
  position: fixed;
  bottom: 0;
  display: none;
  z-index: -1;
  width: 100%;
  background-color: $color-green;

  &.show {
    display: block;
  }

  .sponsors-wrapper {
    height: 20vh;
    padding-top: 5vh;
  }
}

.footer {
  height: 28vh;
  padding-top: 10vh;
  position: relative;
  border-bottom: $border-blue;
  padding-bottom: 50px;

  h4 {
    letter-spacing: 9px;
    margin-bottom: 45px;
  }

  a {
    color: $color-blue;
    transition: all .3s;
    text-decoration: none;
  }

  .link,
  p {
    width: 342px;
    letter-spacing: 3px;
    color: $color-blue;
  }

  form {
    margin-top: 67px;
    flex-wrap: nowrap;
    justify-content: flex-start;
    display: flex;
    padding: 0;

    label {
      color: $color-blue;
      padding: 0;
      width: 80%;

      input.full ~ span,
      input:valid ~ span,
      input:focus ~ span {
        top: -22px;
        left: 0;
        font-size: 14px;
      }

      input:focus {
        outline: none;
      }

      span {
        position: absolute;
        top: 16px;
        transition: all .2s;
        font-size: 16px;
        font-weight: 200;
        left: 5%;
      }
    }
  }

  input {
    height: 50px;
    line-height: 50px;
    letter-spacing: 1px;

    &[type='email'] {
      color: $color-blue;
      border: $border-blue;
      width: 100%;
      padding: 0 2%;
    }

    &[type='submit'] {
      width: 20%;
      border: 2px solid $color-blue;
      color: $color-white;
      background-color: $color-blue;
    }

  }

}