
.intro {
  height: 700px;
  margin-bottom: 50.75vh;

  .right {
    max-width: 430px;
  }

  .sub-title {
    margin-bottom: 18px;
  }

  .sub-title,
  .description {
    float: left;
    width: 100%;
  }

  .description {
    margin-bottom: 50px;
    letter-spacing: 4px;
    font-size: 25px;
  }

  h1,
  .weather {
    margin-bottom: 40px;
  }

  .register {
    font-size: 18px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: 10px;
    border: 1px solid $color-light-grey;
    cursor: pointer;
    outline: none;
    font-family: $font-family;

    &:after {
      content: ' ';
    }
    &:before {
      content: 'register';
    }
  }

  .cloud {
    width: 27px;
    height: 22px;
    position: relative;
    top: 6px;
  }
  .item {
    -webkit-text-stroke-color: $color-green;

    &:first-child {
      color: $color-green;
      -webkit-text-fill-color: $color-green;
    }
  }
}

.multiple-wrapper {

  position: relative;

  white-space: nowrap;

  .item {
    position: absolute;
    pointer-events: none;
    color: transparent;
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;

  }

  .transitionTopLeft {
    transition: all .3s linear;
  }
}

.flying-letters {
  position: absolute;
  top: 85px;
  right: 0;
  z-index: 9;
  width: 400px;
  height: 400px;

  .single-letter {
    position: absolute;
    pointer-events: none;
  }

  .item {
    transition: all .4s;
    font-size: 220px;
    line-height: 152px;

    &:first-child {
      color: transparent;
      -webkit-text-fill-color: transparent;
    }

    &:last-child {
      color: $color-green;
      -webkit-text-fill-color: $color-green;
    }
  }

  .logo-Y {
    top: 0;
    left: 0;
  }

  .logo-G {
    top: 0;
    left: 50%;
  }

  .logo-L {
    top: 50%;
    left: 30px;
  }

  .logo-F {
    top: 50%;
    left: 60%;
  }
}

.speakers-wrapper {
  display: table;

}

.single-speaker {
  height: 512px;
  position: relative;
  margin-bottom: 216px;

  .expertise {
    position: absolute;
    transform: rotate(90deg);
    transform-origin: 0;
    top: -9px;
  }

  .speaker-info {
    position: relative;
    max-width: 50%;
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 5px 0;
    width: 100%;
    transition: max-width .3s linear;

    h3,
    p {
      pointer-events: none;
    }

    h3 {
      font-size: 45px;
      position: absolute;
      top: 68%;
      transition: top .3s linear;
    }

    p {
      position: absolute;
      font-size: 18px;
      max-height: 55px;
      width: 390px;
      overflow: hidden;
      top: 84%;
      transition: max-height .3s linear, top .3s linear;
    }

    .speaker-image {
      max-width: 515px;
    }

    &:hover {
      max-width: calc(100% - 64px);

      h3 {
        top: 20%;
      }

      p {
        max-height: 70%;
        top: 36%;
      }
    }
  }
}

.single-speaker.left {
  .speaker-social {
    left: -64px;
  }

  .expertise {
    left: 10px;
  }

  .speaker-info {
    margin-left: 64px;

    h3 {
      right: -80px;
    }

    p {
      right: -220px;
    }
  }
}

.single-speaker.right {
  .speaker-social {
    right: -50px;
  }

  .expertise {
    right: -210px;
  }

  .speaker-info {
    margin-right: 64px;
    float: right;
    text-align: right;

    h3 {
      left: -80px;
      text-align: left;
    }

    p {
      left: -80px;
      text-align: left;
    }
  }
}

.sponsors-wrapper {
  height: 504px;
  padding-top: 80px;
  letter-spacing: 9px;

  h4 {
    margin-bottom: 45px;
  }
}

.speaker-social {
  position: absolute;
  bottom: 0;
  width: 23px;

  svg {
    margin-bottom: 20px;
  }

  .linkedin {
    svg {
      width: 22px;
      height: 22px;
    }
  }

  .facebook {
    svg {
      width: 11px;
      height: 20px;
    }
  }

  .twitter {
    svg {
      width: 23px;
      height: 19px;
    }
  }
}
