
.speakers-wrapper {
  display: table;
  margin-top: 50px;

  .single-speaker {
    position: relative;
    display: flex;
    margin-top: 10px;

    &.wide {

      .speaker-description {
        width: 456px;
        height: 304px;
      }
    }

    &.right {
      flex-direction: row-reverse;
      text-align: left;

      &.wide {
        .speaker-personal-details {
          right: 270px;
        }
      }

      &:not(.wide) {
        .speaker-personal-details {
          right: 160px;
        }
      }
    }

    &:not(.right) {
      &.wide {
        .speaker-personal-details {
          left: 360px;
        }
      }

      &:not(.wide) {
        .speaker-personal-details {
          left: 200px;
        }
      }
    }
  }

}

.speaker-personal-details {
  bottom: 30px;
  z-index: 90;
  pointer-events: none;
  position: absolute;

  h3 {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 15px;
  }

  hr {
    border-color: $color-green;
    width: 30px;
    margin: 0 0 15px;
  }

  p {
    font-size: 14px;
    letter-spacing: 3px;
  }
}

.speaker-details {
  position: relative;

  .speaker-personal-details {
    display: none;
  }

  .overlay {
    position: absolute;

  }

  h3,
  p {
    text-align: left;
  }

  .speaker-description {
    position: relative;
    display: block;
    overflow: hidden;
    height: 456px;
    width: 304px;

    img {
      box-shadow: 0 13px 42px 0 rgba(0, 0, 0, .3);

    }
    .overlay {
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      margin-left: -100%;
      transition: margin-left .9s cubic-bezier(.215, .61, .355, 1);
      background-color: rgba($color-blue, .95);
      overflow: hidden;

      p {
        margin-top: 20px;
        width: calc(100% - 20px);
        margin-left: 20px;
        transition: opacity .4ms cubic-bezier(.215, .61, .355, 1);
        padding-right: 20px;
        margin-right: 0;
        opacity: 0;
        font-size: 14px;
        letter-spacing: 1;
        font-weight: 100;
        line-height: 16px;
      }
    }

  }

  img {
    max-width: 100%;
    opacity: .5;
    min-width: 304px;
  }

}

.speaker-social {
  width: 23px;
  text-align: center;
  //  margin-left: 10px;

  img {
    height: 13px;
    margin-bottom: 20px;
  }
}

@media (max-width: $screen-lg-min) {
  .speaker-personal-details {
    h3 {
      letter-spacing: 2px;
    }

    p {
      letter-spacing: 0;
    }
  }

  .speakers-wrapper .single-speaker {
    margin-top: 40px;

    &.right {

      &.wide {
        .speaker-personal-details {
          right: 390px;
        }
      }

      &:not(.wide) {
        .speaker-personal-details {
          right: 240px;
        }
      }
    }

    &:not(.right) {
      &.wide {
        .speaker-personal-details {
          left: 360px;
        }
      }

      &:not(.wide) {
        .speaker-personal-details {
          left: 230px;
        }
      }
    }
  }

}

@media (min-width: $screen-md-min) {

  .speaker-details {
    &:hover {
      .speaker-description .overlay {
        margin-left: 0;
        p {
          opacity: 1;
        }
      }
    }
  }
}

@media (max-width: $screen-md-min) {

  .speakers-wrapper .single-speaker {

    &.right {
      clear: both;
      float: none;
    }

    &.wide {
      .speaker-personal-details {
        bottom: 160px;
      }
    }

    &:not(.wide) {
      .speaker-personal-details {
        bottom: 230px;
      }
    }

    .speaker-details {
      .speaker-description {
        overflow: inherit;
        height: inherit;

        .overlay {
          margin-left: 0;
          position: relative;

          p {
            opacity: 1;
          }
        }
      }

    }

    &.right {
      //      flex-direction: inherit;
      .speaker-details .speaker-description {
        .overlay {
          margin-left: 0;
        }
      }

      &.wide {
        .speaker-personal-details {
          right: 390px;
        }
      }

      &:not(.wide) {
        .speaker-personal-details {
          right: 240px;
        }
      }
    }

    &:not(.right) {
      &.wide {
        .speaker-personal-details {
          left: 360px;
        }
      }

      &:not(.wide) {
        .speaker-personal-details {
          left: 230px;
        }

      }
    }
  }
}

@media (max-width: $screen-sm-min) {
  .speakers-wrapper .single-speaker {

    .speaker-details {
      width: 100%;

      .speaker-description {
        margin: 0 auto;
      }
    }

    &.right {
      flex-direction: inherit;
    }

    .speaker-personal-details {
      display: none;
    }

    &.wide {
      .speaker-description {
        width: 100%;
      }
    }

    .speaker-description {
      .speaker-personal-details {
        display: block;
        position: relative;
        bottom: 0;
        left: 0;
      }
      img {
        width: 100%;
      }

      p {
        margin: 10px 0;
      }
    }

    &.right {
      &.wide .speaker-personal-details,
      &:not(.wide) .speaker-personal-details {
        left: 0;
      }
    }

    &:not(.right) {
      &.wide .speaker-personal-details,
      &:not(.wide) .speaker-personal-details {
        left: 0;
      }
    }
  }

}
