#page-home {
  padding-top: 19vh;
}

.canvas {
  position: absolute;
  height: 40%;
  width: 100%;
  top: 0;
  z-index: 1;
}

.intro {
  height: 700px;
  margin-bottom: 26.75vh;

  .right {
    max-width: 430px;
  }

  .sub-title {
    margin-bottom: 5%;
  }

  .sub-title,
  .description {
    float: left;
    width: 100%;
  }

  .description {
    margin-bottom: 12%;
    letter-spacing: .3vw;
    &.space {
      margin-bottom: 14%;
    }
  }

  .weather {
    margin-bottom: 10%;
    margin-top: 0;
  }

  .register {
    align-self: flex-start;
    line-height: 47px;
    letter-spacing: 8px;
    border: 1px solid rgba(255, 255, 255, 0);
    cursor: pointer;
    font-family: $font-family;
    border-radius: 0;

    &:after {
      content: ' ';
    }
    &:before {
      content: 'register';
    }
  }

  .cloud {
    width: 27px;
    height: 22px;
    position: relative;
    top: 6px;
  }
}

.logo-details {
  display: -webkit-flex;
  -webkit-flex-direction: column;
}

@media (max-width: $screen-md-min) {
  .intro {
    margin-bottom: 100px;

    .sub-title {
      margin-bottom: 8px;
      letter-spacing: 3px;
    }

    .description {
      margin-bottom: 30px;
      letter-spacing: 2px;
    }
  }
}

@media (max-width: $screen-sm-min) {
}

@media (max-width: $screen-xs-min) {
  #page-home {
    padding-top: 50px;
  }
  
  .intro {
    margin-bottom: 0;
  }

  .logo {
    margin-top: 0;
    position: relative;
    width: 90%;
    padding-bottom: 90%;
    @include transform-prefix(scale(0.7));
    margin-bottom: 30px;
  }

  .logo-details {
    display: flex;
    margin-top: -12px;
    
    br {
      display: none;
    }

    .sub-title {
      display: none;
    }

    * {
      text-align: center;
    }

    h1 {
      font-size: 2.4rem;
      line-height: 3.2rem;
      font-weight: 200;
      margin-bottom: 8%;
    }

    .description {
      font-size: 16px;
      color: $color-green;
      margin-bottom: 4px;
      font-weight: 300;
    }
    
    .description.space {
      margin-bottom: 5%;
    }

    .register {
      position: relative;
      margin-top: 20px;
      align-self: center;
    }
    
  }
  
  .page-intro label {
    letter-spacing: 1px;
  }
}