
.speakers-wrapper {
  display: table;
}

.single-speaker {
  height: 512px;
  position: relative;
  margin-bottom: 100px;

  .expertise {
    position: absolute;
    transform: rotate(90deg);
    transform-origin: 0;
    top: 7px;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.5);
  }

  .speaker-info {
    position: relative;
    max-width: 50%;
    border-top: 1px solid rgba(0, 208, 157, 0.3);
    border-bottom: 1px solid rgba(0, 208, 157, 0.3);
    padding: 10px 0;
    width: 100%;
    transition: max-width .5s linear;

    h3,
    p {
      pointer-events: none;
    }

    h3 {
      font-size: 45px;
      position: absolute;
      top: 13%;
      letter-spacing: 2px;
      font-weight: 400;
      max-width: 390px;
      width: 390px;
    }

    .speaker-bio,
    .speaker-description {
      position: absolute;
      font-size: 16px;
      font-weight: 100;
      line-height: 26px;
      letter-spacing: 1px;
      overflow: hidden;
    }

    .speaker-description {
      top: 42%;
      max-width: 500px;
      width: 90%;
      opacity: 0;
    }

    .speaker-bio {
      top: 26%;
      font-family: $font-libre;
      font-style: italic;
      max-height: auto;
      font-weight: bolder;
      max-width: 390px;
      width: 90%;
    }

    .speaker-image {
      max-width: 450px;
    }

    &:hover {
      max-width: calc(100% - 64px);

      .speaker-description {
        opacity: 1;
      }
    }
  }
}

.single-speaker.left {
  .speaker-social {
    left: -64px;
  }

  .expertise {
    left: 10px;
  }

  .speaker-info {
    margin-left: 64px;

    h3,
    .speaker-bio,
    .speaker-description {
      left: 45%;
      transition: left .5s linear, opacity .5s linear;
    }

    &:hover {
      h3,
      .speaker-bio,
      .speaker-description {
        left: 34%;
      }
    }
  }
}

.single-speaker.right {
  .speaker-social {
    right: -50px;
  }

  .expertise {
    right: 10px;
    transform: rotate(-90deg);
    transform-origin: 100%;
  }

  .speaker-info {
    margin-right: 64px;
    float: right;
    text-align: right;

    h3,
    .speaker-bio,
    .speaker-description {
      left: 15%;
      text-align: left;
      transition: left .5s linear, opacity .5s linear;
    }


    &:hover {
      h3,
      .speaker-bio,
      .speaker-description {
        left: 34%;
      }
    }
  }
}

.speaker-social {
  position: absolute;
  bottom: 0;
  width: 23px;
  text-align: center;

  img {
    height: 15px;
    margin-bottom: 20px;
  }
}

