
.speakers-wrapper {
  display: table;
  margin-top: 50px;

  .single-speaker {
    display: flex;
    margin-bottom: 40px;
    min-width: 300px;
  }
}

.speaker-details {
  position: relative;

  .speaker-personal-details,
  .overlay {
    position: absolute;

  }

  h3,
  p {
    text-align: left;
  }

  .speaker-personal-details {
    bottom: 30px;
    max-width: 280px;
    width: 90%;
    right: 0;
    z-index: 90;
    pointer-events: none;
    left: 50%;

    h3 {
      font-size: 24px;
      font-weight: 400;
      letter-spacing: 2px;
      margin-bottom: 15px;
    }

    hr {
      border-color: $color-green;
      width: 30px;
      margin: 0 0 15px;
    }

    p {
      font-size: 14px;
      letter-spacing: 3px;
    }
  }

  .speaker-description {
    position: relative;
    display: table-row;

    img {
      box-shadow: 0 13px 42px 0 rgba(0, 0, 0, .3);

    }
    .overlay {
      max-width: 0;
      top: 0;
      left: 0;
      transition: max-width .9s ease-out;
      height: 100%;
      width: 100%;
      background-color: rgba($color-blue, .95);
      overflow: hidden;

      p {
        margin-top: 20px;
        width: calc(100% - 20px);
        //        min-width: 300px;
        margin-left: 20px;
        //        margin-left: -350px;
        //        transition: opacity .6s .2s;
        transition: opacity 1ms cubic-bezier(.215, .61, .355, 1);
        padding-right: 20px;
        margin-right: 0;
        opacity: 0;
        font-size: 14px;
        letter-spacing: 1;
        font-weight: 100;
        line-height: 16px;
      }
    }

  }

  img {
    max-width: 100%;
  }

}

.right {
  text-align: right;
  .single-speaker {
    flex-direction: row-reverse;
  }
  .speaker-social {
    margin-right: 0;
    margin-left: 10px;
  }

  .speaker-personal-details {
    right: 40%;
    left: auto;
  }
}

.speaker-social {
  width: 23px;
  text-align: center;
  margin-right: 10px;

  img {
    height: 15px;
    margin-bottom: 20px;
  }
}

@media (max-width: $screen-lg-min) {
  .speaker-details .speaker-personal-details {
    width: 78%;

    h3 {
      letter-spacing: 2px;
    }

    p {
      letter-spacing: 0;
    }
  }
}

@media (min-width: $screen-md-min) {

  .speaker-details {
    &:hover {
      .speaker-description .overlay {
        max-width: 100%;

        p {
          margin-left: 20px;
          opacity: 1;
        }
      }
    }
  }
}


@media (max-width: $screen-md-min) {

  .right {
    text-align: left;

    .single-speaker {
      flex-direction: row;
    }
    .speaker-social {
      margin-right: 20px;
      margin-left: 0;
    }

    .speaker-personal-details {
      left: 40%;
      right: auto;
    }
  }

  .speakers-wrapper {
    .single-speaker {
      max-width: 280px;
      min-width: auto;
    }
  }

  .speaker-details {
    .speaker-personal-details,
    .overlay {
      position: relative;
      right: 0;
      left: 0;
      bottom: 0;
      width: 100%;
    }

    .speaker-description {
      .overlay {
        max-width: 100%;

        p {
          opacity: 1;
          width: 100%;
          padding: 0;
          margin: 0;
        }
      }
    }
  }

  .speaker-social {
    margin-right: 20px;
  }
}

@media (max-width: $screen-sm-min) {
  .left,
  .right {
    width: 100%;
  }

  .speakers-wrapper .single-speaker {
    margin: 0 auto 40px;
    max-width: 90%;
    text-align: center;
  }
}

@media (max-width: $screen-xs-min) {
}
