.menu-trigger,
.menu-wrapper {
  position: fixed;
  z-index: 1000;
  top: 2rem;
  left: 2rem;

}

.menu-button,
.menu-trigger {
  width: 72px;
  height: 70px;
}

.menu-trigger[type='checkbox'] {
  opacity: 0;
  cursor: pointer;
  z-index: 1001;
  margin: 0;
  border: none;
}

.menu-wrapper {
  width: 126px;
  height: 82px;

  .full-btn {
    &:after {
      transition: padding .2s linear;
    }
  }

  .menu-button {
    padding: 0;
    border: 2px solid $color-grey;
    cursor: pointer;
    outline: none;
    font-size: 21px;
    line-height: 25px;
    word-break: break-word;
    letter-spacing: 6px;
    font-size: 16px;
    font-weight: 300;
    float: left;

    &:before {
      content: ' ';
      background: $color-blue;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }

    span {
      float: left;
      width: 16px;

      &:first-child,
      &:nth-child(3n) {
        margin-left: 18px;
      }

      &:nth-child(2n) {
        margin-left: 7px;
      }

      &:after {
        transition: all .2s linear;
      }
      &:nth-child(1) {
        @include page-link-after('M');
      }
      &:nth-child(2) {
        @include page-link-after('E');
      }
      &:nth-child(3) {
        @include page-link-after('N');
      }
      &:nth-child(4) {
        @include page-link-after('U');
      }
    }
  }
}

.menu-trigger:checked ~ .pages-nav {
  @include transform-prefix(translateY(20vh));
  opacity: 1;
}

.menu-trigger:checked ~ .menu-wrapper {

  .menu-button span {
    margin-left: 0;
    float: none;

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
      &:after {
        content: '';
      }
    }
    &:nth-child(1),
    &:nth-child(2){
      &:after {
        border-bottom: 1px solid;
        width: 70px;
        margin: 0;
        transform-origin: 50%;
        transform: rotate(45deg);
        display: block;
      }
    }
    &:nth-child(2){
      &:after {
        transform: rotate(-45deg);
      }
    }
  }
}

.menu-trigger:checked ~ .pages-stack {
  height: 100vh;
  top: 0;
  margin-bottom: 0;

  .page {
    border-color: rgba($color-green, 1);
    max-height: 100vh;

    &[data-pos='2'],
    &[data-pos='1'] {
      display: block;
      opacity: 1;
      max-height: 100vh;
      animation: inherit;
    }

    &[data-pos='1'] {
      @include transform-prefix(scale(0.75) translateZ(30px) translateY(46vh));
      z-index: 9998;
    }
    &[data-pos='2'] {
      @include transform-prefix(scale(0.7) translateZ(30px) translateY(42vh));
      z-index: 9997;
    }
  }
}

#radio-nav-sponsors:checked ~ .menu-trigger:checked ~ .pages-stack #page-sponsors,
#radio-nav-program:checked ~ .menu-trigger:checked ~ .pages-stack #page-program,
#radio-nav-about:checked ~ .menu-trigger:checked ~ .pages-stack #page-about,
#radio-nav-details:checked ~ .menu-trigger:checked ~ .pages-stack #page-details,
#radio-nav-training:checked ~ .menu-trigger:checked ~ .pages-stack #page-training,
#radio-nav-buy:checked ~ .menu-trigger:checked ~ .pages-stack #page-buy,
#radio-nav-home:checked ~ .menu-trigger:checked ~ .pages-stack #page-home {
  border-color: #00d09d;
  max-height: 100vh;
  @include transform-prefix(scale(.8) translateZ(30px) translateY(50vh));
  z-index: 9999;
  animation: inherit;
}

.menu-trigger:checked ~ .footer-wrapper  {
  max-height: 0;
  opacity: 0;
}

@media (min-width: $screen-md-min) {

  .menu-wrapper {
    &:hover {
      .menu-social {
        a {
          opacity: 1;
        }
      }
    }
  }

  .menu-trigger:hover ~ .menu-wrapper {
    .full-btn {
      color: $color-blue;

      &:after {
        padding: 0px 35px
      }
    }

    .menu-social {
      a {
        opacity: 1;
      }
    }
  }

  .menu-wrapper {
    .menu-social {
      .transparent-btn:hover {
        &:after {
          max-width: 200px;
        }
      }
    }
  }
}

@media (max-width: $screen-md-min) {
  .menu-trigger:checked ~ .pages-nav {
    @include transform-prefix(translateY(10px));
    opacity: 1;
  }

  .menu-trigger:checked ~ .pages-stack {
    display: none;
  }
}

@media (max-width: $screen-sm-min) {
  .menu-trigger,
  .menu-wrapper {
    top: 15px;
    left: 7.5vw;

  }
  .menu-button,
  .menu-trigger {
    width: 62px;
    height: 60px;
  }

  .menu-wrapper {

    .menu-button {
      font-size: 15px;
      span {

        &:first-child,
        &:nth-child(3n) {
          margin-left: 13px;
        }
      }
    }
  }

  .menu-trigger:checked ~ .footer-wrapper  {
    display: none!important;
  }
}
