.pages-nav {
  position: absolute;
  top: 20px;

  ul {
    width: 460px;
    text-align: center;

    li {
      margin: 46px auto;

      a {
        text-decoration: none;

        &:after {
          line-height: 29px;
        }

        &[href="#page-home"] {
          &:after {
            content: 'home';
          }
        }

        &[href="#page-sponsors"] {
          &:after {
            content: 'sponsors';
          }
        }

        &[href="#page-schedule"] {
          &:after {
            content: 'schedule';
          }
        }

        &[href="#page-home"] {
          &:after {
            content: 'HOME';
          }
        }
      }
    }

  }
}