@mixin schedule-day-label {
  cursor: pointer;
  line-height: 20px;
  margin-left: 50px;

  .day-label {
    text-transform: uppercase;
  }

  .day-date {
    font-style: italic;
    font-weight: 100;
    margin-top: 10px;
    font-size: 14px;
    font-family: initial;
  }
}

.schedule-nav {
  position: fixed;
  padding-top: 135px;
  @include transition-prefix(all .2s);
  width: 68vw;
  display: none;
  z-index: 999;
  background-color: $color-blue;
  left: 50%;
  transform: translateX(-50%);

  &.fade {
    opacity: 0;
    z-index: -10;
  }

  ul {
    height: 75px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0 auto;
    padding: 0;
  }

  &.show {
    display: block;
  }

  li {
    padding: 0;
    border-bottom: 4px solid $color-white;
    cursor: pointer;
    color: $color-white;
    opacity: .4;
    width: 50%;

    &.active-tab {
      color: $color-green;
      border-bottom-color: $color-green;
      opacity: 1;
    }
  }

  label {
    @include schedule-day-label;
  }

}

.itinerary {
  margin-top: 17vh;

  ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
    height: 75px;
    padding: 0;

    li {
      padding: 0;
      border-bottom: 4px solid $color-white;
      cursor: pointer;
      position: relative;
      @include transition-prefix(color .2s ease-out, border-bottom .2s ease-out);
      color: $color-white;
      opacity: .4;
      width: 50%;

      &:after {
        content: ' ';
        height: 100%;
        max-height: 0;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -1px;
        @include transition-prefix(max-height .2s ease-out);
      }

      &:not(.active-tab) {
        &:hover {
          color: $color-green;
          border-bottom: 4px solid $color-green;
        }
      }

      &.active-tab {
        color: $color-green;
        border-bottom-color: $color-green;
        opacity: 1;

        &:after {
          max-height: 100%;
        }
      }
    }
    label {
      @include schedule-day-label;
    }
  }
  input[type='radio'] {
    display: none;

    &#day-1:checked ~ .views .day-1 {
      opacity: 1;
    }

    &#day-2:checked ~ .views .day-2 {
      opacity: 1;
    }
  }

  .views {
    margin: 0 auto;
    display: flex;
    padding-top: 50px;
  }

  .view {
    top: 0;
    width: 100%;
    min-width: 300px;
    padding-top: 30px;
    position: relative;
    opacity: .2;
    @include transition-prefix(opacity .2s linear);

    .single-event {
      margin-bottom: 40px;
      width: 100%;
    }
  }
}

.event-description {
  margin-bottom: 10px;
  max-height: 50px;
  @include transition-prefix(max-height .5s linear);
  overflow: hidden;
  text-align: left;
}

.event-info {
  border-bottom: 2px solid rgba($color-grey, .5);
  padding-bottom: 20px;
}

.read-toggle {
  width: 100px;
  position: absolute;
  bottom: 22px;
  left: 0;
  height: 23px;
  margin: 0;
  cursor: pointer;
  opacity: 0;

}

.read-toggle-label {
  font-size: 10px;
  color: $color-green;
  text-transform: uppercase;

  &:before {
    content: 'Read More';
  }
}

.read-toggle:checked ~ .read-toggle-label {
  &:before {
    content: 'Read Less';
  }
}

.read-toggle:checked ~ .event-description {
  max-height: 300px;
}

.hosted-by {
  display: block;
  font-size: 14px;
  font-weight: 100;
  margin-top: 10px;
}

.event-description {
  font-family: $font-libre;
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 2px;
  margin-top: 25px;
}

.event-name {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
}

.event-time {
  font-size: 18px;
}

sup {
  text-transform: uppercase;
  font-size: 11px;
}

@media (max-width: $screen-md-min) {
  .views {

    .day-1,
    .day-2 {
      opacity: 0;
      max-width: 0;
      min-width: 0;
      overflow: hidden;
      padding: 0;
    }
  }

  input[type='radio'] {

    &#day-1:checked ~ .views .day-1 {
      max-width: 100%;

    }

    &#day-2:checked ~ .views .day-2 {
      max-width: 100%;
    }
  }

  .schedule-nav {
    width: 85vw;
  }
}

@media (max-width: $screen-sm-min) {
  .schedule-nav {
    padding-top: 104px;
  }

  .itinerary ul {
    padding: 0;
  }
}
