.schedule-nav {
  position: fixed;
  width: 100%;
  max-width: 1318px;
  z-index: 999999;
  background-color: $color-blue;
  display: none;

  &.show {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    text-align: center;

    margin: 0 auto;
    height: 45px;
  }

  li {
    overflow: hidden;
    padding: 0;
    border-bottom: 1px solid $color-white;

    &:after {
      background-color: $color-green;
      transition: padding .3s linear;
    }

    &.active-tab:after,
    &:hover:after {
      padding: 0 400px;
    }

    &.active-tab {
      color: $color-blue;
    }
  }
  label {
    cursor: pointer;
    line-height: 45px;
  }
}

.itinerary {
  padding-bottom: 100px;

  @keyframes slideOut {
    0% {
      left: 0;
      opacity: 1;
    }
    20% {
      left: 0;
      opacity: 1;
    }
    60% {
      left: -60;
      opacity: 0;
    }
    99% {
      left: -99%;
      opacity: 0;
    }
    100% {
      left: -100%;
      opacity: 0;
    }
  }

  @keyframes slideIn {
    0% {
      left: 100%;
      opacity: 0;
    }
    100% {
      left: 0;
      opacity: 1;
    }
  }
  ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    height: 45px;

    li {
      overflow: hidden;
      padding: 0;
      border-bottom: 1px solid $color-white;

      &:after {
        background-color: $color-green;
        transition: padding .3s linear;
      }

      &.active-tab:after,
      &:hover:after {
        padding: 0 400px;
      }

      &.active-tab {
        color: $color-blue;
      }
    }
    label {
      cursor: pointer;
      line-height: 45px;
    }
  }
  input[type='radio'] {
    display: none;

    &#day-1:checked ~ .views .day-1 {
      display: block;
      animation-name: slideIn;
    }

    &#day-2:checked ~ .views .day-2 {
      display: block;
      animation-name: slideIn;
    }

    &#day-3:checked ~ .views .day-3 {
      display: block;
      animation-name: slideIn;
    }
  }

  .views {
    width: 80%;
    margin: 0 auto;
    display: flex;
    padding-top: 50px;
  }

  .view {
    display: none;
    top: 0;
    animation-name: slideOut;
    animation-duration: 1s;
    width: 100%;
    padding-top: 30px;
    position: relative;

    .single-event {
      margin-bottom: 40px;
    }
  }
}

.event-description {
  margin-bottom: 10px;
  max-height: 50px;
  transition: max-height .5s linear;
  overflow: hidden;
}

.read-toggle {
  width: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 23px;
  margin: 0;
  cursor: pointer;
  opacity: 0;

}

.read-toggle-label {
  font-size: 13px;
  color: $color-green;

  &:before {
    content: 'Read More';
  }
}

.read-toggle:checked ~ .read-toggle-label {
  &:before {
    content: 'Read Less';
  }
}

.read-toggle:checked ~ .event-description {
  max-height: 300px;
}

.hosted-by {
  display: block;
  font-size: 16px;
  font-weight: 100;
  margin-top: 15px;
}

.event-description {
  font-family: $font-libre;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 2px;
  margin-top: 25px;
}

.event-name {
  font-size: 18px;
  font-weight: 300;
}

.event-time {
  font-size: 18px;
}