.shadow {
  position: relative;
  display: table;
  perspective: 100px;
  perspective-origin: 140% -50%;
  transform-style: preserve-3d;
  max-width: 380px;
  width: 90%;
  height: 150px;
  transition: all 0.05s;

  .item {
    pointer-events: none;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    font-size: 90px;
    position: absolute;
    top: 29px;
  }

  @for $i from 0 through 7 {
    .stroke-#{$i} {
      transform: translateZ(0px - (2 * $i));// translateX(-1px + 6 * (1 + $i));
//      transform: translateZ(0) translateX(0);
      opacity: 1/ $i;
    }
  }
  
  .stroke-1 {
    opacity: .9;
  }
}

@media (max-width: $screen-sm-min) {
  .shadow {
    .item {
      font-size: 80px;
    }
  }
}

@media (max-width: $screen-xs-min) {
  .shadow {
    .item {
      font-size: 70px;
    }
  }
}