.all-sponsors {
  .group {
    margin-bottom: 107px;
  }
}

.sponsors-wrapper {
  height: 40vh;
  padding-top: 80px;
  letter-spacing: 9px;

  h4 {
    margin-bottom: 45px;
  }
}

.sponsors-logos {
  display: flex;

  .single-sponsor {
    width: 114px;
    margin-right: 114px;

    &:last-child {
      margin-right: 0;
    }
  }
}
