.all-sponsors {
  .group {
    margin-bottom: 107px;
  }
}

.sponsors-wrapper {
  height: 40vh;
  padding-top: 80px;
  letter-spacing: 9px;

  h4 {
    margin-bottom: 45px;
  }
}

.sponsors-callout {
  &:after {
    color: $color-white;
    content: 'Help us to make it happen';
    top: -4px;
  }
}

.sponsors-logos-wrapper {
  text-align: center;
  margin-top: 5em;

  .col-sm-4 {
    max-width: 50%;
  }
}
