
// Colors Palette
// ----------------------------------------------------------------------
$color-blue: #1105e7;
$color-green: #00d09d;
$color-white: #eff1f2;
$color-black: #eff1f2;
$color-fold-bg: #021e40;
$color-blue: $color-fold-bg;
$color-light-grey: #eff1f2;
$color-grey: #eff1f2;
$color-body: #051931;
// Font
// ----------------------------------------------------------------------
$font-family: 'sofia-pro', Futura-pt, Arial;
$font-libre: 'Libre Baskerville', $font-family;

// Misc
// ----------------------------------------------------------------------
$border-width: 7px;
$header-height: 23vw;
$article-gutter-top: 50px;
$article-gutter-bottom: 50px;
$page-gutter-bottom: 70px;

//border
$border-white: 2px solid $color-white;
$border-blue: 2px solid $color-blue;

//override bootstrap
$screen-lg-min: 1300px;