@each $side in (right left) {
  .pull-#{$side} {
    float: $side;
  }
}

.clearfix {
  @include clearfix();
}

.underline {
  text-decoration: underline;
}

h1 {
  font-size: 57px;
  line-height: 72px;
  letter-spacing: 4px;
  font-weight: 300;
}

.sub-title {
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 8px;
}

label{
  font-weight: 100;
  font-size: 20px;
  letter-spacing: 2px;
}

.description {
  font-size: 2.4vmin;
}

.uppercase {
  text-transform: uppercase;
}

.italic{
  font-style: italic;
}

i {
  display: inline-block;

  &.facebook {
    background-image: image-url('../images/svg/facebook.svg');
    width: 11px;
    height: 20px;
  }

  &.twitter {
    background-image: image-url('../images/svg/twitter.svg');
    width: 17px;
    height: 14px;
  }

  &.linkedin {
    background-image: image-url('../images/svg/linkedin.svg');
    width: 19px;
    height: 19px;
  }
}

.sponsors-logos {
  display: flex;

  .single-sponsor {
    width: 114px;
    margin-right: 114px;

    &:last-child {
      margin-right: 0;
    }
  }
}

div,
span,
label,
input,
p {
  font-family: $font-family;
}

.libre {
  font-family: $font-libre;
}


.full-btn,
.btn,
.transparent-btn {
  background-color: transparent;
  position: relative;
  cursor: pointer;
  padding: 1px 15px 0px 23px;

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 0;
    content: ' ';
    height: 100%;
    transition: max-width .3s linear;
  }
}

.full-btn {
  color: $color-white;

  &:after {
    background-color: $color-white;
    z-index: -1;
  }

  &:hover {
    color: $color-green;

    &:after {
      max-width: 100%;
    }
  }
}

.btn {
  color: $color-white;

  &:after {
    background-color: transparent;
    color: $color-green;
    z-index: 1;
    text-transform: uppercase;
    overflow: hidden;
    padding: 1px 15px 0px 23px;
    opacity: 0;
  }

  &:hover {
    &:after {
      max-width: 100%;
      opacity: 1;
    }
  }
}

.transparent-btn {

  &:after {
    background-color: transparent;
    color: $color-green;
    z-index: 1;
    text-transform: uppercase;
    overflow: hidden;
    padding: 1px 15px 0px 23px;
    opacity: 0;
  }

  &:hover {
    &:after {
      max-width: 100%;
      opacity: 1;
    }
  }
}