@each $side in (right left) {
  .pull-#{$side} {
    float: $side;
  }
}

.clearfix {
  @include clearfix();
}

.underline {
  text-decoration: underline;
}

h1 {
  font-size: 48px;
  line-height: 68px;
  letter-spacing: 4px;
  font-weight: 300;
}

.sub-title {
  font-size: 13px;
  font-weight: 100;
  letter-spacing: 8px;
}

label{
  font-weight: 100;
  font-size: 20px;
  letter-spacing: 2px;
}

.align-right {
  text-align: right;
}

hr {
  pointer-events: none;
}

.uppercase {
  text-transform: uppercase;
}

.italic{
  font-style: italic;
}

i {
  display: inline-block;

  &.facebook {
    background-image: image-url('../images/svg/facebook.svg');
    width: 11px;
    height: 20px;
  }

  &.twitter {
    background-image: image-url('../images/svg/twitter.svg');
    width: 17px;
    height: 14px;
  }

  &.linkedin {
    background-image: image-url('../images/svg/linkedin.svg');
    width: 19px;
    height: 19px;
  }
}


.description { //label
  font-size: 20px;
}

div,
span,
label,
input,
p {
  font-family: $font-family;

}


a,
p {
  font-weight: 400;
}

p {
  text-align: justify;
}

.libre {
  font-family: $font-libre;
}

.footer {
  a {
    line-height: 30px;
    font-size: 15px;
  }

  input {
    font-size: 18px;
  }

  p {
    line-height: 30px;

    font-size: 20px;
  }
}

.clear-left {
  padding-left: 0;
  margin-left: 0;
}

.intro {
  button {
    font-size: 16px;
    font-weight: 300;
    outline: none;
  }
}


@media (max-width: $screen-md-min) {
  h1 {
    font-size: 35px;
    line-height: 48px;
    letter-spacing: 2px;
  }

}

@media (max-width: $screen-sm-min) {
}

@media (max-width: $screen-xs-min) {
}