html,
body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  color: $color-white;

  &.menu--open {
    height: 100vh;
    overflow: hidden;
  }
}

main {
  height: 100%;

  &:before,
  &:after {
    content: " ";
    display: table;
  }
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  margin: 0 auto;
}

.w100 {
  width: 100%;
  position: relative;
}

.w50 {
  width: 49%;
  position: relative;
}

.w33 {
  width: 33%;
  position: relative;
}

.w66 {
  width: 66%;
  position: relative;
}
