html,
body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  color: $color-white;
  background-color: $color-blue;

  &.menu--open {
    height: 100vh;
    overflow: hidden;
  }
}

main {
  height: 100%;

  &:before,
  &:after {
    content: " ";
    display: table;
  }
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  margin: 0 auto;
}
