@keyframes loadPage {
  0% {
    transform: scale(.5) translateZ(0) translateY(100vh);
  }

  100% {
    transform: scale(1) translateZ(0) translateY(0);
  }
}

.page-radio-nav {
  display: none;
}

.pages-stack {
  z-index: 100;
  pointer-events: none;
  perspective: 1200px;
  perspective-origin: 50%;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  @include transition-prefix(perspective-origin .4s .2s linear);
  clear: both;
  position: absolute;
  width: 100%;
}

section {
  width: 68vw;
  display: table;
  margin: 0 auto;
}

.loading {
  .page {
    border: 1px solid $color-green;
  }
}

.page {
  min-height: 100vh;
  background-color: $color-blue;
  padding-top: 194px;
  border: 1px solid rgba($color-green, 0);

  @include transition-prefix(transform .2s linear, top .2s linear, border-color .4s linear);
  position: relative;
  z-index: 5;
  width: 100%;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1);
  top: 0;
  padding-bottom: 150px;
  position: absolute;
  top: 0;
  opacity: 0;
  pointer-events: none;
  display: none;
  padding-bottom: $page-gutter-bottom;

  &[data-pos='2'],
  &[data-pos='1'] {
    display: block;
    opacity: 0;
    transform: translateY(100vh) translateZ(0) scale(.1);

  }
  &[data-pos='1'] {
    @include transition-prefix(transform .3s ease-out);
  }
  &[data-pos='2'] {
    @include transition-prefix(transform .4s ease-out);
  }

}

#radio-nav-sponsors:checked ~ .pages-stack #page-sponsors,
#radio-nav-program:checked ~ .pages-stack #page-program,
#radio-nav-about:checked ~ .pages-stack #page-about,
#radio-nav-details:checked ~ .pages-stack #page-details,
#radio-nav-training:checked ~ .pages-stack #page-training,
#radio-nav-buy:checked ~ .pages-stack #page-buy,
#radio-nav-home:checked ~ .pages-stack #page-home {
  position: relative;
  display: block;
  z-index: 9;
  opacity: 1;
  pointer-events: auto;
  @include transition-prefix(transform .3s ease-out);
  transform: scale(1) translateZ(0) translateY(0);
  transform-origin: 50%;

  &.loading {
    animation: loadPage .4s forwards;
  }
}

.page-intro {
  height: $header-height;
  margin-bottom: 0px;
  width: 100vw;
  padding: 0 16vw;

  .multiple-wrapper {
    width: 255px;
    height: 80px;
    margin: 80px 0;
  }

  h2 {
    font-size: 90px;
    padding: 24px 0;
    margin-top: 10px; // TODO: remove it when animations are back 
  }

  .sub-title {
    margin-left: -20px;
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 8px;
  }

  hr {
    max-width: 100px;
    margin-right: calc(100% - 100px);
    border-color: $color-green;
    margin-bottom: 88px;
  }

  label {
    font-weight: 100;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 30px;
    padding: 0;

  }

  a {
    &:hover {
      text-decoration: none;
      color: $color-white;
    }

    &[href="#click"] {
      &:after {
        content: 'Click here to sign up ';
        text-transform: inherit;
        color: $color-green;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 2px;
        line-height: 24px;
        white-space: nowrap;
      }
    }
  }
}

@media (max-width: $screen-md-min) {
  .page-intro {
    padding-left: 5vw;
  }

  section {
    width: 90vw;
  }

  .page {
    padding-top: 100px;
  }
}

@media (max-width: $screen-sm-min) {
  .pages-stack {
    position: absolute;
  }

  .page {
    border: none;
  }
  section {
    width: 85vw;
  }

  .page-intro {
    padding-left: 7.5vw;

    h2 {
      font-size: 80px;
      padding: 20px 0;
    }

    .sub-title {
      margin-left: 0;
    }
  }
}

@media (max-width: $screen-xs-min) {
  .page {
    padding-left: 14px;
  }

  .page-intro {
    h2 {
      font-size: 50px;
      padding: 10px 0;
      margin: 0;
    }

    hr {
      max-width: 50px;
      margin-right: calc(100% - 50px);
      margin-bottom: 60px;
    }

    label {
      line-height: 22px;
    }
  }
}
