
.pages-stack {
  z-index: 100;
  pointer-events: none;
  perspective: 1200px;
  perspective-origin: 50%;
  overflow: hidden;
  transition: perspective-origin .4s .2s linear;
  clear: both;
  position: absolute;
  margin-bottom: 100vh;
  width: 100%;
}

section {
  width: calc(100vw - 40px);
  max-width: 1318px;
  margin: 0 auto;

}

.page {
  background-color: $color-blue;
  padding-top: 194px;
  transition: transform .3s linear, top .2s linear, border .3s .3s linear;
  position: relative;
  z-index: 5;
  width: 100%;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1);
  top: 0;

  &.current {
    z-index: 9;
    opacity: 1;
    transform: translate3d(0, 0, 0);
    pointer-events: auto;
  }

  &:not(.current) {
    position: absolute;
    top: 0;
    opacity: 0;
    pointer-events: none;

  }

}

.page-intro {
  height: 403px;
  margin-bottom: 210px;

  .multiple-wrapper {
    width: 255px;
    height: 80px;
    margin: 80px 0;
  }

  h2 {
    font-size: 90px;
    padding: 30px 0;
  }

  .sub-title {
    margin-left: -20px;
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 8px;
  }

  hr {
    max-width: 100px;
    margin-right: calc(100% - 100px);
    border-color: $color-green;
    margin-bottom: 88px;
  }

  label {
    font-weight: 100;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 30px;
  }
}

.not-active {
  pointer-events: none;
  cursor: default;
}
