<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>You Gotta Love Frontend Conference | May 4-5, 2016 | Tel Aviv, Israel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="Tel Aviv Front End Conference | May 4-5, 2016">

    <!-- open graph meta tags -->
    <meta property="og:title" content="You Gotta Love Frontend Conference">
    <meta property="og:url" content="http://yougottalovefrontend.com">
    <meta property="og:description" content="Tel Aviv Front End Conference | May 4-5, 2016">
    <meta property="og:type" content="website">
    <meta property="og:image" content="http://yougottalovefrontend.com/images/YGLFConf.png"/>

    <!-- twitter card meta tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@YGLF_Conf">
    <meta name="twitter:creator" content="@YGLF_Conf">
    <meta name="twitter:title" content="You Gotta Love Frontend Conference">
    <meta name="twitter:description" content="Tel Aviv Front End Conference | May 4-5, 2016">
    <meta name="twitter:image:src" content="http://yougottalovefrontend.com/images/YGLFConf_rect.png">

    <!-- google plus verification -->
    <meta name="google-site-verification" content="hkRiKO491ufMYDmeGTCXHaV6YiM2yN8EzA46_jZOkKw"/>

    <!-- site thumbnail -->
    <link rel="image_src" href="images/YGLFConf_rect.png"/>
    <!-- favicon -->
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" type="image/ico" href="/favicon.png">
    <link href='https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic' rel='stylesheet' type='text/css'>
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/style.css -->
    <link rel="stylesheet" href="styles/style.css">
    <!-- endbuild -->
    <!--<link rel="stylesheet" type="text/css" href="styles/demo.css"/>
    <link rel="stylesheet" type="text/css" href="styles/component.css"/>-->
    <script src="scripts/modernizr-custom.js"></script>
</head>
<body class="js csstransitions">
<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<input type="checkbox" style="position: fixed; top: 30px; left: 30px; z-index: 9999999999" id="menu-trigger"
       class="menu-trigger">


<%= pages.navigation %>
<!-- /navigation-->
<!-- pages stack -->
<div class="pages-stack">

    <div class="page" id="page-home">
        <%= pages.main %>
        <%= pages.footer %>

    </div>
    <div class="page " id="page-schedule">
        <%= pages.schedule %>
        <%= pages.footer %>
    </div>
    <div class="page " id="page-sponsors">
        <%= pages.sponsor %>
        <%= pages.footer %>
    </div>

    <div class="page" id="page-software">
        <h1>Test 3</h1>

    </div>
    <div class="page" id="page-custom">

        <h1>Test 4</h1>
    </div>
    <div class="page" id="page-training">
        <header class="bp-header cf">
            <h1 class="bp-header__title">Training &amp; Learning Center</h1>

            <p class="bp-header__desc">Based on Ilya Kostin's Dribbble shot <a
                    href="https://dribbble.com/shots/2286042-Stacked-navigation">Stacked navigation</a></p>

            <p class="info">"The moment I began to understand what was going on with the treatment of animals, it led me
                more andmore in the way of the path I am [on] now, which is a complete vegan." &mdash; Bryan Adams
            </p>
        </header>
        <img class="poster" src="images/5.jpg" alt="img05"/>
    </div>
    <div class="page" id="page-buy">
        <header class="bp-header cf">
            <h1 class="bp-header__title">Where to buy</h1>

            <p class="bp-header__desc">Based on Ilya Kostin's Dribbble shot <a
                    href="https://dribbble.com/shots/2286042-Stacked-navigation">Stacked navigation</a></p>

            <p class="info">"When people ask me why I don't eat meat or any other animal products, I say, 'Because they
                areunhealthy and they are the product of a violent and inhumane industry.'" &mdash;
            </p>
        </header>
        <img class="poster" src="images/6.jpg" alt="img06"/>
    </div>
    <div class="page" id="page-blog">
        <header class="bp-header cf">
            <h1 class="bp-header__title">Blog &amp; News</h1>

            <p class="bp-header__desc">Based on Ilya Kostin's Dribbble shot <a
                    href="https://dribbble.com/shots/2286042-Stacked-navigation">Stacked navigation</a></p>

            <p class="info">"The question is not, 'Can they reason?' nor, 'Can they talk?' but rather, 'Can they
                suffer?" &mdash;Jeremy Bentham
            </p>
        </header>
        <img class="poster" src="images/1.jpg" alt="img01"/>
        <header class="bp-header cf">
            <h1 class="bp-header__title">Blog &amp; News</h1>

            <p class="bp-header__desc">Based on Ilya Kostin's Dribbble shot <a
                    href="https://dribbble.com/shots/2286042-Stacked-navigation">Stacked navigation</a></p>

            <p class="info">"The question is not, 'Can they reason?' nor, 'Can they talk?' but rather, 'Can they
                suffer?" &mdash;Jeremy Bentham
            </p>
        </header>
        <img class="poster" src="images/1.jpg" alt="img01"/>
        <header class="bp-header cf">
            <h1 class="bp-header__title">Blog &amp; News</h1>

            <p class="bp-header__desc">Based on Ilya Kostin's Dribbble shot <a
                    href="https://dribbble.com/shots/2286042-Stacked-navigation">Stacked navigation</a></p>

            <p class="info">"The question is not, 'Can they reason?' nor, 'Can they talk?' but rather, 'Can they
                suffer?" &mdash;Jeremy Bentham
            </p>
        </header>
        <img class="poster" src="images/1.jpg" alt="img01"/>
    </div>
    <div class="page" id="page-contact">
        <header class="bp-header cf">
            <h1 class="bp-header__title">Contact</h1>

            <p class="bp-header__desc">Based on Ilya Kostin's Dribbble shot <a
                    href="https://dribbble.com/shots/2286042-Stacked-navigation">Stacked navigation</a></p>

            <p class="info">"Man is the only animal that can remain on friendly terms with the victims he intends to eat
                until heeats them." &mdash; Samuel Butler
            </p>
        </header>
        <img class="poster" src="images/4.jpg" alt="img04"/>
    </div>
</div>
<!-- /pages-stack -->

<%= pages.navigation_menu_btn %>


<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<!-- endbower -->
<!-- endbuild -->


<script src="https://use.typekit.net/dnj6qmh.js"></script>
<script>Typekit.load()</script>

<script>
    (function (b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l;
        b[l] || (b[l] = function () {
            (b[l].q = b[l].q || []).push(arguments)
        });
        b[l].l = +new Date;
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = '//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-61020025-1');
    ga('send', 'pageview');
</script>

<script src="https://code.createjs.com/easeljs-0.8.2.min.js"></script>
<!-- build:js({app,.tmp}) scripts/main.js -->
<script src="scripts/classie.js"></script>
<script src="scripts/main.js"></script>
<!-- endbuild -->
</body>
</html>
