<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>You Gotta Love Frontend Conference | May 4-5, 2016 | Tel Aviv, Israel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="Tel Aviv Front End Conference | May 4-5, 2016">

    <!-- open graph meta tags -->
    <meta property="og:title" content="You Gotta Love Frontend Conference">
    <meta property="og:url" content="http://yougottalovefrontend.com">
    <meta property="og:description" content="Tel Aviv Front End Conference | May 4-5, 2016">
    <meta property="og:type" content="website">
    <meta property="og:image" content="http://yougottalovefrontend.com/images/YGLFConf.png"/>

    <!-- twitter card meta tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@YGLF_Conf">
    <meta name="twitter:creator" content="@YGLF_Conf">
    <meta name="twitter:title" content="You Gotta Love Frontend Conference">
    <meta name="twitter:description" content="Tel Aviv Front End Conference | May 4-5, 2016">
    <meta name="twitter:image:src" content="http://yougottalovefrontend.com/images/YGLFConf_rect.png">

    <!-- google plus verification -->
    <meta name="google-site-verification" content="hkRiKO491ufMYDmeGTCXHaV6YiM2yN8EzA46_jZOkKw"/>

    <!-- site thumbnail -->
    <link rel="image_src" href="images/YGLFConf_rect.png"/>
    <!-- favicon -->
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" type="image/ico" href="/favicon.png">
    <link href='https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic' rel='stylesheet' type='text/css'>
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/style.css -->
    <link rel="stylesheet" href="styles/style.css">
    <!-- endbuild -->
    <!--<link rel="stylesheet" type="text/css" href="styles/demo.css"/>
    <link rel="stylesheet" type="text/css" href="styles/component.css"/>-->
    <script src="scripts/modernizr-custom.js"></script>
</head>
<body class="js csstransitions">
<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<input type="checkbox" id="menu-trigger" class="menu-trigger">

<%= pages.navigation %>
<!-- /navigation-->
<!-- pages stack -->
<div class="pages-stack">

    <div class="page" id="page-home">
        <%= pages.main %>

    </div>
    <div class="page " id="page-schedule">
        <%= pages.schedule %>
    </div>
    <div class="page " id="page-sponsors">
        <%= pages.sponsor %>
    </div>

    <div class="page" id="page-software">
        <h1>Test 3</h1>

    </div>
    <div class="page" id="page-custom">

        <h1>Test 4</h1>
    </div>
    <div class="page" id="page-training">
        <h1>Test 5</h1>
    </div>
    <div class="page" id="page-buy">
        <h1>Test 6</h1>
    </div>

</div>
    <%= pages.footer %>
<!-- /pages-stack -->

<%= pages.navigation_menu_btn %>


<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<!-- endbower -->
<!-- endbuild -->


<script src="https://use.typekit.net/dnj6qmh.js"></script>
<script>Typekit.load()</script>

<script>
    (function (b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l;
        b[l] || (b[l] = function () {
            (b[l].q = b[l].q || []).push(arguments)
        });
        b[l].l = +new Date;
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = '//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-61020025-1');
    ga('send', 'pageview');
</script>

<script src="https://code.createjs.com/easeljs-0.8.2.min.js"></script>
<!-- build:js({app,.tmp}) scripts/main.js -->
<script src="scripts/classie.js"></script>
<script src="scripts/main.js"></script>
<!-- endbuild -->
</body>
</html>
