<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>You Gotta Love Frontend Conference | June 20-21, 2016 | Tel Aviv, Israel</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta name="description" content="Tel Aviv Front End Conference | June 20-21, 2016">

    <!-- open graph meta tags -->
    <meta property="og:title" content="You Gotta Love Frontend Conference">
    <meta property="og:url" content="http://yougottalovefrontend.com">
    <meta property="og:description" content="Tel Aviv Front End Conference | June 20-21, 2016">
    <meta property="og:type" content="website">
    <meta property="og:image" content="http://yougottalovefrontend.com/images/YGLFConf.png"/>

    <!-- twitter card meta tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@YGLF_Conf">
    <meta name="twitter:creator" content="@YGLF_Conf">
    <meta name="twitter:title" content="You Gotta Love Frontend Conference">
    <meta name="twitter:description" content="Tel Aviv Front End Conference | June 20-21, 2016">
    <meta name="twitter:image:src" content="http://yougottalovefrontend.com/images/YGLFConf_rect.png">

    <!-- google plus verification -->
    <meta name="google-site-verification" content="hkRiKO491ufMYDmeGTCXHaV6YiM2yN8EzA46_jZOkKw"/>

    <!-- site thumbnail -->
    <link rel="image_src" href="images/YGLFConf_rect.png"/>
    <!-- favicon -->
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" type="image/ico" href="/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic" rel="stylesheet" type="text/css">
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/style.css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css.map">
    <link rel="stylesheet" href="styles/logo.css">
    <link rel="stylesheet" href="styles/style.css">
    <!-- endbuild -->
    <!--<link rel="stylesheet" type="text/css" href="styles/demo.css"/>
    <link rel="stylesheet" type="text/css" href="styles/component.css"/>-->
    <script src="scripts/vendor/modernizr-custom.js"></script>
</head>
<body class="js csstransitions loading">
<input type="radio" name="page" id="radio-nav-home" class="page-radio-nav">
<input type="radio" name="page" id="radio-nav-details" class="page-radio-nav">
<input type="radio" name="page" id="radio-nav-about" class="page-radio-nav">
<input type="radio" name="page" id="radio-nav-sponsors" class="page-radio-nav">
<!--<input type="radio" name="page" id="radio-nav-program" class="page-radio-nav">-->
<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<input type="checkbox" id="menu-trigger" class="menu-trigger">

<div class="cfs-badge">
  <a class="text-btn" href="//goo.gl/e2Zk8I">Call For Speakers</a>
</div>

<%= pages.navigation %>
<!-- /navigation-->
<!-- pages stack -->
<div class="schedule-nav">
    <ul>
        <li class="col-sm-6 active-tab"><label for="day-1" class="w100">
          <p class="day-label">Day 1</p>
          <p class="day-date">June 20th</p>
        </label></li>
        <li class="col-sm-6 "><label for="day-2" class="w100">
          <p class="day-label">Day 2</p>
          <p class="day-date">June 21th</p>
        </label></li>
    </ul>
</div>
<div class="pages-stack">

    <div class="page" id="page-home">
        <%= pages.main %>
    </div>
    <div class="page" id="page-details">
        <%= pages.details %>
    </div>
    <div class="page" id="page-about">
        <%= pages.about %>
    </div>
    <div class="page " id="page-sponsors">
        <%= pages.sponsor %>
    </div>
    <!--<div class="page " id="page-program">-->
        <!--<%= pages.schedule %>-->
    <!--</div>-->

</div>
<%= pages.footer %>
<!-- /pages-stack -->

<%= pages.navigation_menu_btn %>


<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<!-- endbower -->
<!-- endbuild -->


<script src="https://use.typekit.net/dnj6qmh.js"></script>
<script>Typekit.load()</script>

<script>
    (function (b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l;
        b[l] || (b[l] = function () {
            (b[l].q = b[l].q || []).push(arguments)
        });
        b[l].l = +new Date;
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = '//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-61020025-1');
    ga('send', 'pageview');
</script>

<!-- build:js({app,.tmp}) scripts/main.js -->
<script src="scripts/vanilla.js"></script>
<script src="scripts/main.js"></script>
<!-- endbuild -->
</body>
</html>
